*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
/ChatGPT[[:space:]]Image[[:space:]]May[[:space:]]13,[[:space:]]2025,[[:space:]]04_57_10[[:space:]]PM.png filter=lfs diff=lfs merge=lfs -text
/background.png filter=lfs diff=lfs merge=lfs -text
/images/background.png filter=lfs diff=lfs merge=lfs -text
/sprites/environment/boulders.png filter=lfs diff=lfs merge=lfs -text
/sprites/environment/trees.png filter=lfs diff=lfs merge=lfs -text
/sprites/buildings/saloon.png filter=lfs diff=lfs merge=lfs -text
/sprites/buildings/stable.png filter=lfs diff=lfs merge=lfs -text
/images/runes-overlay.png filter=lfs diff=lfs merge=lfs -text
/images/background2.png filter=lfs diff=lfs merge=lfs -text
/images/background_b.png filter=lfs diff=lfs merge=lfs -text
